<form method="post" action="{{ path('app_admin_event_delete', {'id': event.id}) }}" onsubmit="return confirm('Etes-vous sûr.e de vouloir supprimer cet événement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    <button class="btn btn-danger"><i class="align-middle" data-feather="trash-2"></i></button>
</form>
