<form method="post" action="{{ path('app_admin_tutorial_delete', {'id': tutorial.id}) }}" onsubmit="return confirm('Etes-vous sûr.e de vouloir supprimer ce tutoriel ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tutorial.id) }}">
    <button class="btn btn-danger"><i class="align-middle" data-feather="trash-2"></i></button>
</form>
