{% extends 'base-backend.html.twig' %}

{% block title %}Nouveau tutoriel - WeFrip'{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_tutorial_index') }}" class="btn btn-primary mb-3"><i class="align-middle" data-feather="skip-back"></i></a>
    <h1>Ajouter un nouveau tutoriel</h1>

    {{ include('admin_tutorial/_form.html.twig') }}

{% endblock %}
