<h1>Bonjour! Veuillez confirmer votre email</h1>
<h2>Plus qu'une étape avant de pouvoir accéder aux événements...</h2>
<p>
    Confirmez votre email en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmez votre email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    We Frip' !
</p>
