<form method="post" action="{{ path('app_event_delete', {'id': event.id}) }}" onsubmit="return confirm('Etes-vous sûr.e de vouloir supprimer cet événement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    <button type="submit" class="btn btn-danger"><i data-feather="trash"></i></button>
</form>
