{% extends 'base-backend.html.twig' %}

{% block title %}Nouvel utilisateur - WeFrip'{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_user_index') }}" class="btn btn-primary mb-3"><i class="align-middle" data-feather="skip-back"></i></a>
    <h1>Ajouter un nouvel utilisateur</h1>

    {{ include('admin_user/_form.html.twig') }}

{% endblock %}
